Server/nodered_test_flow.json
[
    {
        "id": "7112f84ec11eca5e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject_test",
        "type": "inject",
        "z": "7112f84ec11eca5e",
        "name": "Send Fill Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"dustbin_id\":2,\"bin\":\"blue\",\"fill\":99}",
        "payloadType": "json",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "http_request_node"
            ]
        ]
    },
    {
        "id": "http_request_node",
        "type": "http request",
        "z": "7112f84ec11eca5e",
        "name": "POST /bin_fill",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.164.95:5000/bin_fill",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": true,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "debug_node"
            ]
        ]
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "7112f84ec11eca5e",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "inject_img",
        "type": "inject",
        "z": "7112f84ec11eca5e",
        "name": "Trigger Image Send",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "file_node"
            ]
        ]
    },
    {
        "id": "file_node",
        "type": "file in",
        "z": "7112f84ec11eca5e",
        "name": "Read Image",
        "filename": "/home/praveenrajrs/Desktop/IoT_Bin/Edge_Platform/Test/test1.jpg",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "http_img"
            ]
        ]
    },
    {
        "id": "http_img",
        "type": "http request",
        "z": "7112f84ec11eca5e",
        "name": "POST /upload",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.164.95:5000/upload",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "image/jpeg"
            }
        ],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "debug_img"
            ]
        ]
    },
    {
        "id": "debug_img",
        "type": "debug",
        "z": "7112f84ec11eca5e",
        "name": "YOLO Response",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "inject_post_red",
        "type": "inject",
        "z": "7112f84ec11eca5e",
        "name": "Send RED (Dustbin 1)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"dustbin_id\":1,\"subdivision\":\"red\",\"fill_level\":88}",
        "payloadType": "json",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "http_post"
            ]
        ]
    },
    {
        "id": "inject_post_green",
        "type": "inject",
        "z": "7112f84ec11eca5e",
        "name": "Send GREEN (Dustbin 1)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"dustbin_id\":1,\"subdivision\":\"green\",\"fill_level\":70}",
        "payloadType": "json",
        "x": 190,
        "y": 510,
        "wires": [
            [
                "http_post"
            ]
        ]
    },
    {
        "id": "inject_post_blue",
        "type": "inject",
        "z": "7112f84ec11eca5e",
        "name": "Send BLUE (Dustbin 1)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"dustbin_id\":1,\"subdivision\":\"blue\",\"fill_level\":20}",
        "payloadType": "json",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "http_post"
            ]
        ]
    },
    {
        "id": "http_post",
        "type": "http request",
        "z": "7112f84ec11eca5e",
        "name": "POST /data",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3000/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 420,
        "y": 510,
        "wires": [
            [
                "debug_post"
            ]
        ]
    },
    {
        "id": "debug_post",
        "type": "debug",
        "z": "7112f84ec11eca5e",
        "name": "POST Response",
        "active": true,
        "complete": "payload",
        "x": 650,
        "y": 510,
        "wires": []
    },
    {
        "id": "inject_get",
        "type": "inject",
        "z": "7112f84ec11eca5e",
        "name": "Fetch Latest",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "http_get"
            ]
        ]
    },
    {
        "id": "http_get",
        "type": "http request",
        "z": "7112f84ec11eca5e",
        "name": "GET /latest",
        "method": "GET",
        "ret": "obj",
        "url": "http://127.0.0.1:3000/latest",
        "x": 420,
        "y": 660,
        "wires": [
            [
                "debug_get"
            ]
        ]
    },
    {
        "id": "debug_get",
        "type": "debug",
        "z": "7112f84ec11eca5e",
        "name": "Latest Data",
        "active": true,
        "complete": "payload",
        "x": 650,
        "y": 660,
        "wires": []
    }
]